<div id="container">
 
     <div class="recipe_top">
            <div class='left_info'>
              <h4 class='recipe_name'>Recipe <%= @recipe.id %></h4>
              <p class='recipe-ptime'>Preparation time:  <%= @recipe.preparation_time %> hr</p>
              <p class='recipe-ptime'>Cooking time:  <%= @recipe.cooking_time %> hr</p>
              <p class='prep-steps'>Preparation steps:  <%= @recipe.description %></p>
            </div>
            <div class='public_logo'>
            <p><%=@recipe.public ? 'Public' : 'Not Public'%></p>
               <div class="<%=@recipe.public ? 'public' : 'not_public'%>">
                 <span class="<%=@recipe.public ? 'public_switch' : 'not_public_switch'%>"></span>
              </div>
         </div>
    </div>
    <br>
      <div class="recipe_foods_buttons">
      <% if user_signed_in? && @recipe.user == current_user %>
      <%= link_to "/shopping_list" do %>
        <button class="add-recipe-food">Generate shopping list</button>
        <% end %>
        <% end %>

        <% if user_signed_in? && @recipe.user == current_user %>
        <%= link_to new_recipe_recipe_food_path(@recipe) do %>
          <button class="add-ingredient">Add New Ingredient</button>
          <% end %>
          <% end %>
      </div>
      <br>
      <br>
      <table id = "recipe_foods">
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Value</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      
        <% @recipe.recipe_foods.each do |rfood| %>
          <tr>
          <td><%= rfood.food.name %></td>
          <td><%= rfood.quantity %></td>
          <td>$<%= rfood.food.price * rfood.quantity %></td>
            <td class="actions">
            <% if user_signed_in? && @recipe.user == current_user %>
              <%= link_to "Modify", edit_recipe_recipe_food_path(@recipe, rfood)%>
              <%= link_to "Delete", recipe_recipe_food_path(@recipe, rfood), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
             <% end %>
             </td>
          </tr>
        <% end %>
      </tbody>
        </table>


</div>
